h1, h2, h3, p, li, h4, h5, h6, span {
  font-family: Lato;
}

p, li{
  font-size:13px;
}

b{
  color:#5878aa
}

@media print
{    
    .pagebreak
    {
      page-break-before: always;
    }
    .pagebreak
    {
      page-break-before:always;
    }
    .no-print
    {
        display: none !important;
    }
    .print
    {
        display: block !important;
    }
}

span{
  font-weight:bold;
}

#viz{
 width: 530px;
 height: 300px;
}